.Coloringlist {
  display: flex;
  flex-wrap: wrap;
}

.Coloritem {
  height: 300px;
  /* width: 300px; */
  margin: 15px;
}

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;800;900&display=swap");
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Orbitron', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://cdn.registerdisney.go.com/v4/asset/bundler/STARWARS/v4/images/v1/starwars-background-web.webp");
  background-size: cover;
}
/* --------------------------------------------------------------------------------------------- */
.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
  /* background-color: black; */
  color: white;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
}
.App-logo {
  /* border: solid blue; */
  height: 40vmin;
  pointer-events: none;
}
/* page titles */
.pageTitle {
  /* border: solid lightblue; */
  position: inherit;
  text-align: left;
  letter-spacing: 0.1em;
  margin: 50px 0 0 80px;
}
/* SPACESHIPS */
#spaceWrap {
  /* border: solid blue; */
  display: flex;
  justify-content: center;
  margin: 10px 70px 100px 70px;
  /* align-items: center; */
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.5px);
}
#mainShipWrap {
  /* border: solid pink; */
  width: 100%;
}
.mainShip {
  /* border: solid lightgreen; */
  width: 750px;
  height: 500px;
  margin: 100px 0 0 40px;
}
#shipInfoBox {
  display: flex;
  justify-content: center;
}
.shipInfo {
  /* border: solid yellow; */
  text-align: left;
  width: 500px;
  margin-top: 60px;
}
.shipInfo > h4 > span {
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  margin-left: 15px;
  color: rgb(255, 186, 10);
}
.shipDisplay {
  border: 0.2px solid wheat;
  /* border: solid violet; */
  /* display: flex; */
  flex-wrap: wrap;
  /* width: 400px; */
  /* justify-content: center; */
}
.Ship {
  cursor: pointer;
  border: 0.5px solid #fff;
  height: 65px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  font-family: "Orbitron", sans-serif;
  text-align: left;
  padding: 5px 15px;
  background-size: 300% 100%;
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
}
.Ship:focus {
  outline: none;
}
.Ship:hover {
  border: none;
  color: lime;
  background-position: 100% 0;
}
.shipModel {
  margin-top: 5px;
  opacity: 70%;
}
.shipModel > span {
  font-style: italic;
}
.profileArrow2 {
  /* border: solid lime; */
  margin: 20px;
  width: 15px;
}
.posterTitle2 {
  /* border: solid lightsalmon; */
  margin: 20px 0 5px 80px;
  text-align: left;
}
/* new PEOPLE*/
#peopleWrap {
  /* border: solid lime; */
  margin: 10px 70px 100px 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.5px);
}
.peopleDisplay {
  border: 0.2px solid wheat;
  /* display: flex; */
  flex-wrap: wrap;
  /* width: 300px; */
  /* width: 1600px; */
  justify-content: center;
}

/* main person */
.main {
  /* border: solid cornflowerblue; */
  width: 100%;
  height: 100%;
  margin-top: -60px;
}
/* .MainPerson {
  border:solid yellow;
} */
.MainPerson > h4 > span {
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  margin-left: 15px;
  color: rgb(255, 186, 10);
}
.mainName {
  font-size: 70px;
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  color: rgb(255, 183, 0);
  text-shadow: rgba(255, 221, 221, 0.694) 1px 2.5px 7px;
  margin-bottom: 30px;
}
.people {
  cursor: pointer;
  height: 50px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  /* margin-right: 10px; */
  padding: 0.5em 0.5em 0 0.5em;
  font-size: 20px;
  border: 0.5px solid #fff;
  color: #f5f5f5;
  text-align: left;
  /* hover attempt */
  background-size: 300% 100%;
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
}
/* hover attempt */
.people:focus {
  outline: none;
}
.people:hover {
  border: none;
  color: lime;
  background-position: 100% 0;
}
.people > p {
  font-family: "Orbitron", sans-serif;
}
.profileArrow {
  width: 10px;
  padding-bottom: 10px;
}
.profileArrow:hover {
  filter: invert(1);
}
/* BUTTONS */
.buttonBox {
  margin: 25px 0 20px 0;
  display: flex;
  justify-content: space-evenly;
}
.btn {
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  margin-right: 0.5em;
  font-size: 20px;
  height: 40px;
  width: 100px;
  color: #f5f5f5;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.5px);
  border-radius: 10px;
}
.btn:hover {
  color: black;
  font-weight: 700;
  text-shadow: rgb(225, 218, 193) 1px 0 5px;
  background-color: rgba(193, 28, 28, 0.645);
  backdrop-filter: blur(0.5px);
}
/* ------------------------------------------------------- */
/* NAVBAR */
#navBar {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.5px #f5f5f5;
  border-style: none none solid none;
  padding: 0 40px;
  background-color: #000;
}
ul {
  display: flex;
  gap: 40px;
  list-style: none;
}
li {
  filter: brightness(0.5);
}
li:hover {
  filter: brightness(1.5);
}
a {
  color: #f5f5f5;
  text-decoration: none;
}
.logo {
  width: 150px;
}
/* mini logos */
#miniWrapper {
  display: flex;
}
.tiktokBox {
  display: flex;
  align-items: center;
}
.miniTikTok {
  width: 20px;
}
.miniLine {
  border-style: none none none solid;
  padding-left: 5px;
  height: 25px;
  margin: 12px;
  opacity: 60%;
}
/* CAROUSEL ATTEMPT 2 */
.carousel {
  display: flex;
  height: 700px;
  width: 100%;
}
.carouselWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.card {
  display: flex;
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s linear;
}
.cardActive {
  opacity: 1;
  pointer-events: visible;
}
.carouselImg {
  width: 100%;
  object-position: 100% 5%;
  object-fit: cover;
}
.cardTextBox {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 40px 30px;
  align-items: flex-end;
}
.cardTitle {
  color: #f5f5f5;
  font-size: 30px;
}
.arrowLeft,
.arrowRight {
  position: absolute;
  font-size: 50px;
  font-weight: 100;
  top: 50%;
  background-color: #f5f5f5;
  opacity: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-bottom: 7px;
  cursor: pointer;
  color: #000000a5;
}
.arrowLeft {
  left: 15px;
}
.arrowRight {
  right: 15px;
  transform: scaleX(-1);
}
/* home landing carousel *OLD* */
#btnWrapper {
  /* border:solid yellow; */
  width: 90%;
  height: 500px;
  margin: 50px 50px 0 50px;
  position: absolute;
  display: flex;
  justify-content: space-between;
}
.leftBtn {
  /* border: solid red; */
  display: flex;
  transform: scaleX(-1);
}
.buttonCir {
  width: 70px;
  opacity: 60%;
}
/* old carousel image sizes */
.imgSize {
  /* border: solid fuchsia; */
  width: 100%;
  height: auto;
}
/* movie page */
#filmWrapper {
  /* border: solid blue; */
  /* display: flex; */
  background-image: url("https://lumiere-a.akamaihd.net/v1/images/background-stars-desktop_v2_96b6d74a.jpeg?region=0%2C0%2C2048%2C1600");
  background-size: contain;
  background-color: #000;
  justify-content: center;
  flex-wrap: wrap;
}
.filmBox {
  overflow-x: auto;
}
#movieWrapper {
  /* border: solid yellow; */
  /* width: 400px; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: 50px 20px;
}
#movieBox {
  /* border: solid lime; */
  border-radius: 15px;
  width: 300px;
  margin: 15px;
}
/* #filmPoster{
  border: solid blue;
  height: 462px;
} */
#filmPoster > p {
  margin-top: 10px;
}
.posterBorder {
  /* border: solid violet; */
  box-shadow: rgba(255, 255, 255, 0.297) 0px 10px 36px 0px,
    rgba(255, 255, 255, 0.313) 0px 0px 0px 1px;
}
.posterTitle {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
.filmLeft {
  /* border: solid orangered; */
  width: 400px;
}
.movieTitle {
  font-size: 20px;
  font-weight: 700;
}
/* footer */
#footerWrapper {
  border: 0.5px #f5f5f5;
  border-style: solid none none none;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding-top: 20px;
}

3: 25 CSS part 2
  /* ------------------------------------------------------------------ */
  /* media queries */ /* mobile */ @media screen and (min-width: 390px) and
  (max-width: 767px) {
  body {
    background-size: contain;
  }
  #navBar {
    height: 90px;
    padding: 20px;
  }
  #miniWrapper {
    display: none;
  }
  .logo {
    /* border: solid fuchsia; */
    width: 100px;
    margin-top: 10px;
    /* padding-top: 5px; */
  }
  ul {
    /* border: solid green; */
    gap: 10px;
    font-size: 12px;
  }
  /* new carousel */
  .card {
    margin-top: -24px;
  }
  .carouselImg {
    /* width: 50; */
    object-fit: contain;
  }
  .cardTextBox {
    /* border: solid fuchsia; */
    height: 230px;
    margin-top: 25px;
  }
  .cardTitle {
    /* border: solid fuchsia; */
    font-size: 20px;
    /* margin-top: 150px; */
  }
  .arrowLeft,
  .arrowRight {
    margin-top: -250px;
    width: 35px;
    height: 35px;
    font-size: 40px;
  }
  /* characters */
  .pageTitle,
  .posterTitle2 {
    /* border: solid lavender; */
    margin: 5px 5px 0 15px;
    font-size: 25px;
  }
  #peopleWrap,
  #spaceWrap {
    /* border: solid blue; */
    margin: 0;
  }
  .peopleDisplay {
    /* border: solid lime; */
    width: 171px;
  }
  .people {
    /* border: solid fuchsia; */
    width: 170px;
    font-size: 13px;
    align-items: center;
  }
  .btn {
    width: 60px;
    font-size: 15px;
  }
  .MainPerson {
    /* border: solid lime; */
    margin: 0 5px 0 5px;
  }
  .mainName {
    font-size: 30px;
  }
  /* SPACESHIPS */
  .Ship {
    width: 170px;
    height: 70px;
    font-size: 8px;
    padding-left: 10px;
    align-items: center;
  }
  .profileArrow2 {
    margin: -15px -10px 0 0;
    width: 10px;
  }
  #mainShipWrap {
    /* border: solid pink; */
    display: flex;
    justify-content: center;
  }
  #shipInfoBox {
    /* border: solid orange; */
    /* display: block; */
    padding: 15px;
    width: 250px;
    margin-left: -10px;
  }
  .shipInfo {
    /* border: solid lime; */
    width: 100%;
    font-size: 13px;
    margin: 0;
    overflow-wrap: break-word;
  }
  .shipInfo > h4 > span {
    font-size: 16px;
  }
  .mainShip {
    /* border: solid paleturquoise; */
    width: 215px;
    margin: 30px 0;
    padding: 5px;
    height: 100px;
    font-size: 25px;
  }
}
/* -------------------------------------------------------------- */
/* tablet */
@media screen and (min-width: 820px) and (max-width: 1180px) {
  #miniWrapper {
    /* border:solid firebrick; */
    display: none;
  }
  #btnWrapper {
    /* border: solid red; */
    height: 170px;
    margin: 30px 0 0 18px;
  }
  /* characters */
  .pageTitle,
  .posterTitle2 {
    /* border: solid lavender; */
    margin: 25px 0 -50px 55px;
    font-size: 25px;
  }
  #peopleWrap,
  #spaceWrap {
    /* border: solid blue; */
    margin: 50px;
  }
  .peopleDisplay {
    /* border: solid lime; */
    width: 300px;
  }
  .people {
    /* border: solid fuchsia; */
    width: 250px;
    font-size: 13px;
    align-items: center;
  }
  .btn {
    width: 60px;
    font-size: 15px;
  }
  .MainPerson {
    /* border: solid lime; */
    margin: 0 5px 0 5px;
  }
  .mainName {
    font-size: 30px;
  }
  /* spaceships */
  .Ship {
    width: 275px;
    height: 70px;
    font-size: 12px;
    padding-left: 10px;
    align-items: center;
  }
  .profileArrow2 {
    margin: -15px -10px 0 0;
    width: 10px;
  }
  #mainShipWrap {
    /* border: solid pink; */
    display: flex;
    justify-content: center;
  }
  #shipInfoBox {
    /* border: solid orange; */
    padding: 15px;
    width: 350px;
    margin-left: -5px;
  }
  .shipInfo {
    /* border: solid lime; */
    width: 100%;
    font-size: 15px;
    margin: 0;
    overflow-wrap: break-word;
  }
  .shipInfo > h4 > span {
    font-size: 20px;
  }
  .mainShip {
    /* border: solid paleturquoise; */
    width: 350px;
    margin: 60px 0 0 0;
    padding: 5px;
    height: 150px;
    /* font-size: 25px; */
  }
  .mainName {
    font-size: 40px;
  }
}
/* -------------------------------------- */
@media screen and (min-width: 1045px) {
  #btnWrapper {
    /* border: solid red; */
    height: 170px;
    margin: 150px 0 0 35px;
  }
}
/* -------------------------------------- */

/* zach's */
@media (max-width: 1600px) {
  .btn {
    /* height: 50px;
    width: 150px;
    margin: 1em;
    font-size: 20px; */
  }
  .shipDisplay {
    /* display: flex; */
    /* border: solid white; */
    /* flex-wrap: wrap; */
    /* width: 1000px; */
    /* justify-content: center; */
  }
  .peopleDisplay {
    /* display: flex; */
    /* border: solid white; */
    /* flex-wrap: wrap; */
    /* width: 1000px; */
    /* justify-content: center; */
  }
}

@media (max-width: 1100px) {
  .btn {
    /* height: 50px;
    width: 150px;
    margin: 1em;
    font-size: 20px; */
  }
  .shipDisplay {
    /* display: flex;
    border: solid white;
    flex-direction: column;
    width: 800px;
    justify-content: center; */
  }

  .peopleDisplay {
    /* display: flex;
    border: solid white;
    flex-direction: column;
    width: 800px;
    justify-content: center; */
  }
}
